.reports h1{
    font-family: Comforta;
}

.welcome p {
    margin-top: 30px;
    font-family: 'Century Gothic';
    color: rgb(158, 160, 164);
    font-size: 10pt;
}

@font-face {
    font-family: "Comforta";
    src: url("./../../media/fonts/Comfortaa-VariableFont_wght.ttf");
}